//MAIN LAYOUT
main {
    margin-top: 150px;
    width: 100vw;
    display: grid;
    grid-template-areas: "about" 
                        "pre" 
                        "s" 
                        "post"
                        "btnQuiz";
    grid-template-columns: 100vw;
    grid-template-rows: 60px 200px 400px;
}
    
.main--about {
    grid-area: aboutTitle;
}

.about--img {
    grid-area: aboutImg;
}

.about--info {
    grid-area: aboutInfo;
}

.pre--title {
    grid-area: preTitle;
}

.pre--img {
    grid-area: preImg;
}

.pre--info {
    grid-area: preInfo;
}

.s--title {
    grid-area: sTitle;
}

.s--img {
    grid-area: sImg;
}

.s--info {
    grid-area: sInfo;
}

.post--title {
    grid-area: postTitle;
}

.post--img {
    grid-area: postImg;
}

.post--info {
    grid-area: postInfo;
}

.btn--quiz {
    grid-area: btnQuiz;
}