//MAIN LAYOUT
main {
    margin-top: 150px;
    display: grid;
    grid-template-areas: "aboutTitle"
                        "aboutImg"
                        "aboutInfo" 
                        "preTitle" 
                        "prenfo" 
                        "pre--pic"
                        "s--title" 
                        "s--info" 
                        "s--pic"
                        "post--title" 
                        "post--info" 
                        "post--pic"
                        "btn--quiz";
    grid-template-rows: 48px 200px auto;
}
    
.about--title {
    grid-area: aboutTitle;
}

.about--info {
    grid-area: aboutInfo;
}

.about--img {
    grid-area: aboutImg;
}

.pre--title {
    grid-area: pre--title;
}

.pre--info {
    grid-area: pre--info;
}

.pre--img {
    grid-area: pre--img;
}

.s--title {
    grid-area: s--title;
}

.s--info {
    grid-area: s--info;
}

.s--img {
    grid-area: s--img;
}

.post--title {
    grid-area: post--title;
}

.post--info {
    grid-area: post--info;
}

.post--img {
    grid-area: post--img;
}

.btn--quiz {
    grid-area: btn--quiz;
}