main{
    position: relative;
    margin: 30px 15px;
    background: rgba(44, 43, 44, 0.63);
}

.question{
    padding-top: 
    font-family: $paraFont;
    font-size: 2rem;
    color: colors(header);
    text-indent: 40px;
}

.quiz-container{
    padding: 0 20px;
}

.answers{

    & lable{
        width: 100vw;
        display: inline-block;
        margin: 20px 20px 0 20px;
        font-family: $paraFont;
        font-size: 2rem;
        color: colors(accent--blue);
    }
}