main{
    background: #f1f1f1;
}

.question{
    font-family: $paraFont;
    font-size: 2rem;
    color: colors(box--orange);
}

.quiz-container{
    
}

.answers{

    & lable{
        width: 100vw;
        display: inline-block;
        margin: 20px;

    font-family: $paraFont;
    }
}