$headerFont: 'KoHo', sans-serif;
$paraFont:'Niramit', sans-serif;

$colors: (
    'background': #f1f1f1,
    'accent--yellow': rgb(161, 148, 27),
    'accent--blue': rgb(58, 149, 206),
    'accent--red':  rgb(170, 58, 62),
    'text--camo': rgb(53, 49, 22),
    'text--shadow': rgb(179, 96, 55),
    'box--orange': rgb(226, 121, 69)
);

@function colors($colorName) {
    @return map-get($colors , $colorName);
}

