$headerFont: 'KoHo', sans-serif;
$paraFont:'Niramit', sans-serif;

$colors: (
    'background': #f1f1f1,
    'accent--yellow': rgb(212, 195, 41),
    'accent--blue': rgb(58, 149, 206),
    'accent--red':  rgb(230, 46, 52),
    'text--camo': rgb(21, 28, 53),
    'text--shadow': rgb(179, 96, 55),
    'box--orange': rgba(240, 107, 40, 0.568)
);

@function colors($colorName) {
    @return map-get($colors , $colorName);
}

