@import "./resets", "./variables", "./grid";

//GENERAL STYLES
body {
    background: colors(background);
    font-size: 30px;
}

p {
    margin: 40px 30px 0 30px;
    font-family: $paraFont;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-indent: 25px;
    color: colors(header);
    border-bottom: 4px solid colors(accent--blue);
    padding-bottom: 40px;

    & span {
        color: colors(accent--yellow);
        font-weight: 600;
    }  
}

h2 {
    position: relative;
    padding: 30px 15px;
    font-family: $headerFont;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    color: colors(accent--yellow);

       &::after {
        content:'';
        z-index: -1;
        position: absolute;
        top: -2px; left: 15px;
        height: 5000px;
        width: calc(100vw - 30px);
        background-color: rgba(44, 43, 44, 0.301);
    }
}

.square {
    height: 180px;
    width: 241px;
    overflow: hidden;
    box-shadow: 2px 2px 10px colors(text--camo), 12px 12px colors(accent--blue);

    & img {
        height: 180px;
        width: auto;
    }
}

//SECTION style can be found under "_grid.scss"

//HEADER
header {
    height: 100px;
    width: 100vw;
    z-index: 999;
    position: fixed;
    top: 0;
    background: colors(box--orange);
    box-shadow: 1px 1px 5px colors(text--camo);
    overflow: hidden;

    & h1 {
        width: 50vw;
        position: relative;
        padding: 0.8em;
        z-index: 9;
        font-family: $headerFont;
        font-size: 40px; 

        & a {
            text-decoration: none;
            color: colors(header);
        }

    }

    & .btn--hamburger {
        height: 3px;
        width: 28px;
        position: absolute;
        top: 48px;
        right: 1.5em;
        z-index: 9;
        background: colors(header);

        &::before {
            content: '';
            height: 3px;
            width: 28px;
            position: absolute;
            top: -8px;
            z-index: 9;
            background: colors(header);
        }

        &::after {
            content: '';
            height: 3px;
            width: 20px;
            position: absolute;
            top: 8px;
            z-index: 9;
            background: colors(header);
        }

        &.open {
            
        }

    }
}

//ABOUT SECTION
.about--title {
    position: relative;
    margin-top: 30px;
    padding: 56px 15px;
    font-family: $headerFont;
    font-size: 2rem;
    line-height: 2.8rem;
    text-align: center;
    color: colors(accent--yellow);

    &::before {
        content: '';
        z-index: -2;
        position: absolute;
        top: 0; left: 0;
        height: 200px;
        width: 100vw;
        background-image: url(../img/art-school-of-athens-1143741_1920.jpg);
        background-size: 150%;
        background-position: bottom;
        background-repeat: no-repeat;
        filter: grayscale(100%);
    }

    &::after {
        top: -500px; //Top is different here in order the stretch the ::after element above and behind the header   
    }
}

//PRE-SOCRATICS SECTION  
.pre--img {

    & img {
        position: relative;
        height: 250px;
        width: auto;
        right: 100px;
        bottom: 40px;
    }
}

//SOCRATICS SECTION      
.s--img {
    margin-left: 100%;
    margin-bottom: 40px;
    display: inline-flex;
    float: right;
    box-shadow: -2px 2px 10px colors(text--camo), -12px 12px colors(accent--blue);
    
}
    
//POST-SOCRATICS SECTION 


//BUTTON FOR QUIZ!
.link--area {
    height: 250px;
    width: 100vw;
    display: grid;
    place-items: center;

    & a {
        height: 40px;
        width: 200px;
        padding: 25px 15px 20px 20px;
        line-height: 1.9rem;
        font-family: $headerFont;
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: 700;
        text-align: center;
        color: rgba(44, 43, 44, 0.781);
        background: colors(header);
        border: 1px solid colors(header);
        border-radius: 15px;
        cursor: pointer;
        box-shadow: -2px 2px 10px colors(text--camo), -12px 12px colors(accent--blue);
    }
}

//FOOTER

footer { 
    height: 100px;
    width: 100vw;
    z-index: 999;
    position: relative;
    bottom: 0;
    background: colors(box--orange);
    
}