@import "./resets", "./variables";

body {
    background: colors(background);
    height: 100vh;
}

header {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    background: colors(box--honey);

    & h1 {
       font-family: $headerFont;
       font-size: 25px; 
       padding: 1em 1em;
       color: colors(box--camo);
    }

    & .btn--hamburger {
        height: 4px;
        width: 8px;
        background: ;
    }
}

main {
    margin-top: 100px;
}