@import "./resets", "./variables", "./grid";

//GENERAL STYLES
body {
    background: colors(background);
    font-size: 20px;
}

p {
    padding: 5px;
    font-family: $paraFont;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: colors(text--camo);
}

h2 {
    font-family: $headerFont;
    font-size: 1.5rem;
    color: colors(accent--blue);

}

//HEADER
header {
    height: 100px;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 999;
    background: colors(box--orange);
    overflow: hidden;

    & h1 {
        width: 50vw;
        position: relative;
        padding: 1em 1em;
        z-index: 9;
        font-family: $headerFont;
        font-size: 25px; 
        text-shadow: -5px 1px colors(text--shadow);
        color: colors(text--camo);
        
    }

    & .btn--hamburger {
        height: 3px;
        width: 28px;
        position: absolute;
        top: 48px;
        right: 1.5em;
        z-index: 9;
        background: colors(box--camo);

        &::before {
            content: '';
            height: 3px;
            width: 28px;
            position: absolute;
            top: -8px;
            z-index: 9;
            background: colors(box--camo);
        }

        &::after {
            content: '';
            height: 3px;
            width: 20px;
            position: absolute;
            top: 8px;
            z-index: 9;
            background: colors(box--camo);
        }

    }
}


.about--img {
    height: 180px;
    width: 250px;
    background-image: url(../img/plato-3230487_1920.jpg);
    //background-size: cover;
    //background-position-x: 90px;
    //background-repeat: no-repeat;
            
}
    

